.products {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 1110px;
}

.products_item {
  width: 340px;
  padding: 25px;
}

.product-card {
  width: 340px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #f8f9fa;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px 20px 20px 20px;
}