*,
*::before,
*::after {
  box-sizing: border-box;
}
 
body {
font-family: 'Montserrat', sans-serif;
  font-weight: 400; 
  font-size: 13px;
}

.product-title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0;
  text-align: center;
  color: #4c4c84;
}

.card_category {
   color: #606074;
  font-size: 13px;
  line-height: 18px;
}

.products-list {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}



.clear-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.price-box {
  display: flex;
  justify-content: space-between;
}

 .container {
  width: 100%;
  min-height: 100vh;
  background-image: url('../images/photo_phone.jpg');
  background-repeat: no-repeat; 
  background-position: center top; 
  background-size: cover; 
}

.block {
  margin: 10px;
}

.button {
  background-color: #515076;
  color: #f8f9fa;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  padding: 10px;
  border: 5px solid #515076;
  border-radius: 10px;
  cursor: pointer;
    transition: background-color 0.3s;
    margin-top: auto;
}

.card-container {
  width: 340px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #f8f9fa;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px
}

.btn-changed {
  background-color: beige !important;
  color: #515076 !important;          
  border-color: beige !important;     
}


